In [51]:
import pandas as pd
import seaborn as sns
import tensorflow as tf;
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3' # 텐서플로를 사용하면서 에러를 잡아주기 위한...
from tensorflow.python.keras.utils.np_utils import to_categorical

# 데이터 불러오기

In [52]:
dataset = sns.load_dataset('titanic')
dataset.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [53]:
dataset = dataset['embarked'].dropna()

In [54]:
x_data = dataset.drop(['survived'], axis=1)
y_data = dataset['survived']

ValueError: No axis named 1 for object type Series

In [45]:
obj_df = x_data.select_dtypes(include=['object']).copy()
obj_df.head()

      sex embarked    who  embark_town alive
0    male        S    man  Southampton    no
1  female        C  woman    Cherbourg   yes
2  female        S  woman  Southampton   yes
3  female        S  woman  Southampton   yes
4    male        S    man  Southampton    no

In [46]:
obj_df[obj_df.isnull().any(axis=1)]

        sex embarked    who embark_town alive
61   female      NaN  woman         NaN   yes
829  female      NaN  woman         NaN   yes

In [27]:
from sklearn.preprocessing import LabelEncoder 

# 레이블 데이터 
sex_label = obj_df['sex']
enc = LabelEncoder()
enc.fit(sex_label)
for i, label in enumerate(enc.classes_):
    print(i, '->', label)

0 -> female
1 -> male

In [28]:
# 문자를 레이블로 변환 
test_labels = ['male','female'] 
print(test_labels, '->', enc.transform(test_labels)) 
# ['넷플릭스', '테슬라'] -> [0 3]

['male', 'female'] -> [1 0]

In [29]:
# 숫자를 문자로 변환, 디코딩 
encode_datas = [1, 0, 1] 
print(encode_datas, '->', enc.inverse_transform(encode_datas)) 
# [2, 4] -> ['애플' '페이스북' '삼성전자']

[1, 0, 1] -> ['male' 'female' 'male']

In [34]:
x_data[['sex_label', 'embarked_label', 'who_label', 'embark_town_label', 'alive_label']] = enc.transform(x_data[['sex', 'embarked', 'who', 'embark_town', 'alive']])
x_data

ValueError: y should be a 1d array, got an array of shape (891, 5) instead.

# 데이터 정규화

In [15]:
from sklearn.preprocessing import MinMaxScaler;
x_data_scaled = MinMaxScaler().fit_transform(x_data);

ValueError: could not convert string to float: 'male'