In [111]:
import pandas as pd
import seaborn as sns
import tensorflow as tf;
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3' # 텐서플로를 사용하면서 에러를 잡아주기 위한...
from tensorflow.python.keras.utils.np_utils import to_categorical
from sklearn.model_selection import train_test_split;
from sklearn.preprocessing import MinMaxScaler;

# 데이터 불러오기

In [112]:
dataset = sns.load_dataset('titanic')
dataset.drop(['deck','age'], axis=1, inplace=True)

In [113]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   sibsp        891 non-null    int64
 4   parch        891 non-null    int64
 5   fare         891 non-null    float64
 6   embarked     889 non-null    object
 7   class        891 non-null    category
 8   who          891 non-null    object
 9   adult_male   891 non-null    bool
 10  embark_town  889 non-null    object
 11  alive        891 non-null    object
 12  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(1), int64(4), object(5)
memory usage: 72.5+ KB

In [114]:
dataset = dataset.dropna()
dataset

,survived,pclass,sex,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [115]:
x_data = dataset.drop(['survived'], axis=1)
y_data = dataset['survived']

In [116]:
from sklearn.preprocessing import LabelEncoder 

# 레이블 데이터 
sex_label = x_data['sex']
s_enc = LabelEncoder()
s_enc.fit(sex_label)
for i, label in enumerate(enc.classes_):
    print(i, '->', label)

0 -> female
1 -> male

In [117]:
# 레이블 데이터 
em_label = x_data['embarked']
em_enc = LabelEncoder()
em_enc.fit(em_label)
for i, label in enumerate(em_enc.classes_):
    print(i, '->', label)

0 -> C
1 -> Q
2 -> S

In [118]:
who_label = x_data['who']
who_enc = LabelEncoder()
who_enc.fit(who_label)
for i, label in enumerate(who_enc.classes_):
    print(i, '->', label)

0 -> child
1 -> man
2 -> woman

In [119]:
et_label = x_data['embark_town']
et_enc = LabelEncoder()
et_enc.fit(et_label)
for i, label in enumerate(et_enc.classes_):
    print(i, '->', label)

0 -> Cherbourg
1 -> Queenstown
2 -> Southampton

In [120]:
al_label = x_data['alive']
al_enc = LabelEncoder()
al_enc.fit(al_label)
for i, label in enumerate(al_enc.classes_):
    print(i, '->', label)

0 -> no
1 -> yes

In [121]:
x_data['sex_label'] = s_enc.transform(x_data['sex'])
x_data['embarked_label'] = em_enc.transform(x_data['embarked'])
x_data['who_label'] = who_enc.transform(x_data['who'])
x_data['embark_town_label'] = et_enc.transform(x_data['embark_town'])
x_data['alive_label'] = al_enc.transform(x_data['alive'])

x_data

,pclass,sex,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,sex_label,embarked_label,who_label,embark_town_label,alive_label
0,3,male,1,0,7.2500,S,Third,man,True,Southampton,no,False,1,2,1,2,0
1,1,female,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,0,0,2,0,1
2,3,female,0,0,7.9250,S,Third,woman,False,Southampton,yes,True,0,2,2,2,1
3,1,female,1,0,53.1000,S,First,woman,False,Southampton,yes,False,0,2,2,2,1
4,3,male,0,0,8.0500,S,Third,man,True,Southampton,no,True,1,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,male,0,0,13.0000,S,Second,man,True,Southampton,no,True,1,2,1,2,0
887,1,female,0,0,30.0000,S,First,woman,False,Southampton,yes,True,0,2,2,2,1
888,3,female,1,2,23.4500,S,Third,woman,False,Southampton,no,False,0,2,2,2,0
889,1,male,0,0,30.0000,C,First,man,True,Cherbourg,yes,True,1,0,1,0,1
890,3,male,0,0,7.7500,Q,Third,man,True,Queenstown,no,True,1,1,1,1,0

In [122]:
x_data_fi = x_data.drop(['sex','class','who','embark_town','alive', 'embarked'], axis=1)
x_data_fi

,pclass,sibsp,parch,fare,adult_male,alone,sex_label,embarked_label,who_label,embark_town_label,alive_label
0,3,1,0,7.2500,True,False,1,2,1,2,0
1,1,1,0,71.2833,False,False,0,0,2,0,1
2,3,0,0,7.9250,False,True,0,2,2,2,1
3,1,1,0,53.1000,False,False,0,2,2,2,1
4,3,0,0,8.0500,True,True,1,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...
886,2,0,0,13.0000,True,True,1,2,1,2,0
887,1,0,0,30.0000,False,True,0,2,2,2,1
888,3,1,2,23.4500,False,False,0,2,2,2,0
889,1,0,0,30.0000,True,True,1,0,1,0,1
890,3,0,0,7.7500,True,True,1,1,1,1,0

In [123]:
x_train, x_test, y_train, y_test = train_test_split(x_data_fi, y_data,
                                                    test_size=0.3,
                                                    random_state=777);
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(622, 11) (622,)
(267, 11) (267,)

In [124]:
x_train, x_vali, y_train, y_vali = train_test_split(x_train, y_train,
                                                    test_size=0.3,
                                                    random_state=777
                                                    );
print(x_train.shape, y_train.shape)
print(x_vali.shape, y_vali.shape)

(435, 11) (435,)
(187, 11) (187,)

# 데이터 정규화

In [125]:
from sklearn.preprocessing import MinMaxScaler;
x_train_scaler = MinMaxScaler().fit_transform(x_train)
x_vali_scaler = MinMaxScaler().fit_transform(x_vali)
x_test_scaler = MinMaxScaler().fit_transform(x_test)

In [126]:
# 모델 구성 - 신경망 구성
from tensorflow.keras.models import Sequential;
from tensorflow.keras.layers import Dense;

model = Sequential();
# 784개 들어와서 10개가 나감.
model.add(Dense(64, activation='relu', input_shape=(784, )))
model.add(Dense(32, activation='relu'))
model.add(Dense(10, activation='softmax')) # 다중분류라서...softmax

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['acc']);
model.fit(x_train_scaler, y_train,
          epochs=30,
          validation_data=(x_vali_scaler, y_vali),
          verbose=1);

Epoch 1/30

ValueError: in user code:

    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\keras\engine\training.py:806 train_function  *
        return step_function(self, iterator)
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\keras\engine\training.py:796 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:1211 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2585 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2945 _call_for_each_replica
        return fn(*args, **kwargs)
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\keras\engine\training.py:789 run_step  **
        outputs = model.train_step(data)
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\keras\engine\training.py:747 train_step
        y_pred = self(x, training=True)
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\keras\engine\base_layer.py:975 __call__
        input_spec.assert_input_compatibility(self.input_spec, inputs,
    C:\ProgramData\Anaconda3\envs\DLearning\lib\site-packages\tensorflow\python\keras\engine\input_spec.py:212 assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer sequential is incompatible with the layer: expected axis -1 of input shape to have value 784 but received input with shape [None, 11]